/* ADD styling for all of the divs in post.html to match  */
.blog-post {
    background-color: white;
}
#individual-post-title {
    text-align: center;
    font-size: 2em;
    padding: 24px 0px;
    color: #2d4059;
}
#individual-post-location {
    font-size: 1em;
    padding-right: 16px;
    color: #ea5455;
}
#individual-post-bar {
display: flex;
border-top: 1px solid #e4eaf1;
border-bottom: 1px solid #e4eaf1;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
#individual-post-date {
padding: 8px 16px;
padding-left: 16px;
color: #ea5455; 
}

#individual-post-content {
    padding: 24px 16px;
    color: #2d4059;
    line-height: 1.4;
}