.sfd-logo {
    max-width: 8%;
    max-height: 100px;
    height: auto;
    padding: 15px;
}
.resume-full {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #2d4059;
    margin-bottom: 15px;
}
.resume-header h1, h2 {
    margin: 0px;
}
.resume-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* width: auto; */
    margin: 0px;
    max-width: 40px;
    height: auto;
}
.resume-education {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.resume-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    font-size: 10px;
}
.resume-skills-title {
    font-size: 13px;
    padding-left: 25px;
}
.resume-degree-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}
.resume-experience {
    display: flex;
    flex-direction: column;
}
.resume-experience h3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.resume-experience h4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.resume-experience ul, .resume-achievements h3 {
 margin: 0px 0px 5px 0px;   
}
.resume-achievements {
    margin: 0px
}
.resume-achievements a {
    color: #ea5455;
    text-decoration: none;
}
.resume-achievements a:hover {
    color: #2d4059;
    text-decoration: underline;
}
.resume-li-last {
    padding-bottom: 5px;
}