* {
    font-family: 'Architects Daughter',
    cursive;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, Roboto, sans-serif;
}

.post-link {
    text-decoration: none;
}
.homepage-header {
        min-height: 300px;
        width: 100%;
        color: #e4eaf1;
        background-color: #2d4059;
        padding-top: 100px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative; */
}

.home-images {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 300px;
}
.sfd-logo {
    max-width: 8%;
    max-height: 100px;
    height: auto;
    padding: 15px;
}
.home-profile {
    display: flex;
    max-width: 300px;
    min-width: 150px;
    margin: 60px 5px 25px 20px
}
.home-profile img {
    display: block;
    width: 100%;
    height: auto;
}
.topnav {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ea5455;
    /* border: 2px solid black; */
    /* border-radius: 5px; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    max-height: 100px;
    padding-right: 30px;
    padding-left: 10px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    font-size: 24px;
    
}
.nav-left a {
    text-decoration: none;
    color: #2d4059;
    border-radius: 10px;
    padding: 5px;
}
.nav-left a:hover {
    box-shadow: 0 .5rem .5rem rgba(256, 256, 256, .2);
    color: #ea5455;
    background-color: #2d4059;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-right: 1.5em;
}
.email-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* width: auto; */
    margin: 1rem;
    max-width: 40px;
    height: auto;
}
.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4eaf1;
}
.resume-header {
    padding-left: 15px;
    padding-right: 15px;
    color: #2d4059;
    background-color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 1rem;
    max-width: 500px;
    /* height: auto; */
    /* flex: 1em; */
}
.filler {
    height: 100px;
}
.socials a {
    padding: 3px;
    /* width: 15px; */
    /* height: 15px; */
}
.social-icon {
    display: inline-flex;
    max-width: 40px;
    height: auto;
}
.social-icon:hover {
    transform: translate3d(-1px, -2px, 0);
}
header {
    min-height: 300px;
    width: 100%;
    padding-top: 100px;
    background-color: #e4eaf1;
    color: #2d4059;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.blog-home header, .new-post-page header {
background-image: url(../Assets/spidey.jpg);
}
header > * {
    z-index: 10;
}
header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    opacity: .6
}
.profile-image {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid #2d4059;
    border-radius: 50%;
    background-image: url(../Assets/profile.png);
    background-size: cover;
}
.profile-name, .title {
    border-radius: 25px;
    font-size: 3em;
    font-weight: bold;
    padding: 5px 15px;
    color: #2d4059;
}
.spideyfandan {
    max-width: 450px;
    min-width: 100px;
}
.spideyfandan img {
    display: block;
    width: 100%;
    height: auto;
    border: 5px solid 2d4059;
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 50px;
}
.subtext {
    margin-top: 8px;
    color: #ea5455;
    background-color: #e4eaf1;
    /* border: 2px solid #2d4059; */
    border-radius: 12px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1em;
}
.main {
    background-color: #e4eaf1;
    display: flex;
    justify-content: center;
}
.sidebar-nav {
    background-color: #2d4059;
    width: 20%;
    min-width: 200px;
}
.main-container {
    max-width: 800px;
    width: 80%;
    padding: 0px 16px;
}
.post {
    max-width: 100%;
    border: 1px solid #fdeded;
    border-radius: 5px;
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    background-color: white;
    overflow: hidden;
    transition: all 0.25s ease;
    cursor: pointer;
     
}
.post:hover {
    transform: translate3d(-1px, -3px, 0);
    box-shadow: 0 2rem 3rem rgba(0,0,0,.1);
}
.post-content {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    color: #2d4059;
    flex-basis: 65%;
}
.post-date {
    padding: 15px 0px 5px 0px;
    color: #ea5455;
    font-size: 14px;
    font-weight: bold;
}
.post-title {
    font-size: 24px;
    margin-right: 20px;
}
.post-text {
    font-size: 16px;
    padding: 2px 0px 20px 0px;
    line-height: 1.4;
    max-height: 70px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 15px;
}
.post-image {
    max-height: 15em;
    max-width: 15em;
    flex-basis: 35%;
}
footer {
    min-height: 50px;
    background-color: #ea5455;
    color: #fdeded;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.nav-button.new-post-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: #2d4059;
    color: #e4eaf1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    transition: all 0.25s ease;
}
.nav-button.new-post-button:hover {
    background-color: #e4eaf1;
    color: #2d4059;
}
.navigation a {
    text-decoration: none;
    color: #2d4059;
    border: 1px solid #ea5455;
    border-radius: 8px;
    padding: 5px 8px;
    margin: 15px 0px;
    background-color: #2d4059;
    background-color: #fdeded;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.intro h1 {
    font-size: 3em;
    margin: 15px 25px;
}
.intro p{
    font-size: 24px;
    margin: 0px 25px;
}
.about {
    font-family: 'Architects Daughter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4eaf1;
    color: #2d4059;
    font-size: 24px;
    max-width: 100%;
}
.about p {
    padding: 0px 15px;
}
.about p a {
    text-decoration: none;
    color: #ea5455;
}
.websling {
    display: block;
    margin: 0px auto;
    height: auto;
    max-width: 80%;
}
.about h1 {
    /* background-color: #fdeded; */
    color: #2d4059;
    padding-left: 15px;
    margin-bottom: 0px;
    padding: 5px 15px;
    max-width: 100%;
}

.about hr {
    color: #2d4059;
    border-color: #ea5455;
    border-top: 5px dotted #ea5455;
    width: 5%;
}

@media screen and (max-width: 500px) {
    .about {
        font-size: 18px;
    }
    .about-h1 {
        font-size: 25px;
    }
    .nav-left {
        font-size: 18px;
    }
    .social-icon {
        max-width: 20px;
        height: auto;
    }
    .home-profile {
        display: block;
        align-items: top;
        margin: 5px 5px;
        height: auto;
        max-width: 25%;
        min-width: 100px;
        padding: 0px;
    }
    .home-images {
        /* flex-direction: column; */
        max-height: 5em;
    }
    .homepage-header {
        padding-top: 75px;
    }
    .homepage-header h1 {
        margin-top: 35px;
        font-size: 1.75em;
    }
    .homepage-header p {
        font-size: 1rem;
    }
    .spideyfandan img {
        display: block;
        max-width: 50%;
        height: auto;
    }
    .resume h1 {
        font-size: 1.5rem;
    }
    .resume h3 {
        font-size: 1rem;
    }
    .email-icon {
        max-width: 30px;
    }
}